@{
    ViewData["Title"] = "PÁGINA INICIAL";
}

<div class="text-center">
    <h1 class="display-4">BEM VINDO ALUNO!!</h1>
   <p>Sistema de Controle de Alunos de uma faculdade qualquer!!</p>

   <h2>FAÇA SUA MATRICULA</h2>

</div>
