@{
    ViewData["Title"] = "FACULDADE DIREMELTEC ";
}

<div class="text-center">
    <h1 class="display-4">BEM VINDO A UNIVERSIDADE TESTE ALUNO!!</h1>
   <p>Estamos felizes em ter você aqui!!</p>

   <h2>FAÇA SUA MATRICULA</h2>

</div>
