@{
    ViewData["Title"] = "PÁGINA DE INFORMAÇÕES SOBRE A UNIVERSIDADE";
}

<div class="text-center">
    <h1 class="display-4">PÁGINA DE INFORMAÇÕES SOBRE A UNIVERSIDADE</h1>
   <p>Aqui você encontra as informações que precisa para entender um pouco mais sobre a universidade!</p>

   <h2>VEJA NOSSOS ALUNOS DESTAQUES NO MERCADO DE TRABALHO</h2>

</div>


<h1 class="display-3">DESTAQUE DE ALUNOS</h1>

<table class="table table-striped">
  <thead>
    <tr>
        <th>ID</th>
      <th scope="col">Matrícula</th>
      <th scope="col">Nome</th>
      <th scope="col">Curso</th>
    
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>450122</td>
      <td>Marcos Luis</td>
      <td>Engenharia de Controle e Automação</td>
     
    </tr>
    <tr>
      <th scope="row">2</th>
     <td>450552</td>
      <td>Lucas Solto Melo</td>
      <td>Engenharia Elétrica</td>
     
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>450022</td>
      <td>Maria Fernanda Samp</td>
      <td>Analista de Sistemas - EAD</td>
     
    
    </tr>
  </tbody>
</table>