@{
    ViewData["Title"] = "ACESSE SEUS DADOS DE MATRÍCULA AQUI";
}

<div class="text-center">
    <h1 class="display-4">Página de Login</h1>
         <h2>LOGIN </h2>

</div>
<div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Login</h5>
             <form>
        <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
  <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Senha</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword">
    </div>
    <button class="btn btn-primary" type="submit">Button</button>
        </div>
       </form>
          </div>
        </div>
      </div>
    </div>
  </div> 
