@{
    ViewData["Title"] = "BEM VINDO ALUNO A SUA PÁGINA DE DADOS";
}


<div class="text-center">
    <h1 class="display-4">DETALHES SOBRE SUA MATRICULA</h1>
</div>


<table class="table table-striped">
  <thead>
    <tr>
        <th>ID</th>
      <th scope="col">Matrícula</th>
      <th scope="col">Nome</th>
      <th scope="col">Curso</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
    
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>450122</td>
      <td>Marcos Luis</td>
      <td>Engenharia de Controle e Automação</td>
      <td>marcoendsg2@gmail.com 
      </td>
      <td> 
          <div class="btn-group" role="group" aria-label="Basic example">

         </div>
      </td>
    </tr>
  
  </tbody>
</table>